{% extends 'plantilla_base.html' %}
{% block content %}

    <h3>Anuncios</h3>
    <article>
    
        <details>          
            <summary>
                <h4> Telemedicina oximetría </h4>
                <br>
                Más del 20% de la mortalidad global es causada por enfermedades respiratorias que se convertirán en la tercera mayor causa de mortalidad.
                De acuerdo con la OMS 210 millones de personas vivas están afectadas si no completamente malogradas por EPOC y 300 millones por asma.
                Aproximadamente el 20% de la población adulta sufre AOS, que representa un factor riesgo severo de mortalidad, ataque y síndrome metabólico (hipertensión, enfermedades cardiovasculares, obesidad, diabetes, etc.).

            </summary>
            <p>
                <br>
                MIR Medical International Research es un líder en dispositivos de diagnóstico y aplicaciones en telemedicina para el análisis de la función respiratoria. Nuestros productos innovadores funcionan como mini laboratorios combinando la oximetría con las pruebas de espirometría, extendiendo así su uso hacia aplicaciones de diagnóstico emergentes.
MIR es un referente en tecnología por la miniaturización e integración de sus sensores, por el software y por las aplicaciones en telemedicina también aplicados a dispositivos OEM en el campo de la pulmonología.
                </p>    
        </details>
    </article>
        
{% endblock %}

