{% load static from staticfiles%}

<html>
    <head>
        <title>Telemedicina con oximetría</title>
        <link rel="shotcut icon" type="image/x-icon" href="static/icono.ico" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'estilo_pagina_inicio.css' %}">
        
       
    </head>

    <body>
        <header>
                
            <div>
                <img src="{% static 'logo.jpg' %}" width="100">
                
            </div>
            <nav>
                <ul>
                    <li> <a href="{% url 'pagina_inicio' %}"> <h3>Inicio</h3> </a>  </li>
                    <li> <a href="/revisar/"> <h3>Revisar usuarios</h3> </a> </li>
                    <li> <a href="/gestion"> <h3>Gestionar usuarios</h3> </a> </li>
                    <li> <a href="/simulador"> <h3>Simulador oximetría</h3>  </a> </li>
                </ul>
            </nav>
        </header>

        

        <!--<section class="wrapper">-->
        <section class="main">
            <section class="articles">
            {% block content %}
            {% endblock %}
            </section>

            <aside>
                <h4> Cómo usar el sistema </h4>
                   <!-- Aquí encuentras una imagen ilustrativa -->
                    <figure>
                        <img src="{% static 'uso_sistema.jpg' %}" width="150">
                        <figcaption>Guía de uso</figcaption>
                    </figure>
                    

                 
            </aside>
        </section>

        <footer>
                <address>
                        Realizado por <abr title="enviar mail"><a href="mailto:miguelavilafigueroa@hotmail.com"> Nombre </a></abr><br> 
                        Visitanos en: Calle 10 10-10<br>
                        Bogotá, Colombia<br>
                        <small>
                                Todos los derechos reservados
                        </small>
                </address>
            
            
        </footer>


    </body>

</html>