{% extends 'plantilla_base.html' %}
            {% block content %}
            
                <h3>Simulador</h3>
                Nombre: {{ usuarios.nombre }}
                <br>
                Cédula: {{ usuarios.cedula }}
                <br>               
                Oximetría: {{ usuarios.oximetria }}  
                <form  method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Actualizar SpO2" >
                </form>
                <!--
                <article>
                                      
                    
                    <details>          
                        <summary>
                            <h4> RFID technology: Beyond cash-based methods in vending machine</h4>
                            <br>
                            This paper characterizes the design, implementation and employment of cashless and secure payment system in vending machine by using radio frequency identification technology, to improve the traditional cash-based payment system that involved lot of problems and risks i.e., hacking, auditing, storing, currency and material of coins and notes. RFID is achieving momentum in a multiple sectors like retail, security, transportation, pharmaceuticals, defense, healthcare etc., and a host of other fields, and now vending machines. 
                            
                        </summary>
                        <p>
                            <br>
                            Our proposed methodology consists of passive RFID identification cards and reader for consumers, Arduino Mega microcontroller, SPI protocol for RFID and Arduino interfacing, keypad for password protection, liquid crystal display (LCD) for displaying consumer name and current balance, and SMS is sent for notification using GSM module.
                            Spiral coil architecture is supported by DC motors powered by relays in mechanical structure of vending machine. It also describes how such product-oriented RFID card based vending machine can maximum facilitates the system engineering.
                        </p>    
                    </details>
                </article>
                -->

                <!--
                <article>
                    
                    <details>
                        <summary>
                            <h4>Electrical Nerve Stimulation for Arthritis Pain</h4>
                            <br>
                            If you’ve lived with arthritis for any length of time, your doctor has undoubtedly talked you through a menu of pain-relief options. Medicines you rub on your skin or take by mouth, injections, physical therapy, heat, cold, and acupuncture are just a few of the ways to make your arthritis more bearable. Yet you may still be searching for relief.
                            Nerve stimulation – or neuromodulation – is an alternative to medication for treating arthritis pain.     
                        </summary>
                    
                        <p>
                            <br>
                            It’s the principle of using electricity to decrease pain sensations,” says Robert Bolash, MD, assistant professor of anesthesiology in the department of pain management at the Cleveland Clinic. For some people, neuromodulation treatments can ease pain with minimal risks, he says.
                            These devices are generally safe. However, they involve sending electrical impulses though your body. So it’s important to talk with your doctor first if you have a pacemaker, another implanted device, are pregnant, have epilepsy, or have a heart problem.
                        </p>
                    </details>
                    
                </article>
                
                -->
            
            {% endblock %}