
{% extends 'plantilla_base.html' %}
{% load static from staticfiles %}
{% block content %}
            
                          
                <form method="POST">
                    {% csrf_token %}
                    <select name="nombre_seleccionado">
                    {% for usuario in usuarios %}
                        <option>{{usuario.nombre}}</option>
                    {% endfor %}
                    </select>
                    
                    </br>
                    <button type="submit" value="Submit" class="btn btn-success"> Ver </button>
                </form>

                </br>
                    <h3>Nombre:                         {{usuario_seleccionado.nombre}}</h3>
                    <p>Cédula:                          {{usuario_seleccionado.cedula}}</p>
                    <p>Fecha de nacimiento:             {{usuario_seleccionado.fecha_nacimiento}}</p>
                    <p>Oximetría:                       {{usuario_seleccionado.oximetria}}</p>
                    <p>Frecuencia cardíaca:             {{usuario_seleccionado.frecuenciaCardiaca}}</p>
                    
             
                    <!--
                    <h2>Nombre:                     {{usuario.nombre}}</h2>
                    <p>Cédula:                        {{usuario.edad}}</p>
                    <p>Fecha de nacimiento:                        {{usuario.fecha_nacimiento}}</p>
                    <p>Saldo:  {{usuario.frecuencia_estimulacion}} Pesos</p>
                    {{usuario.id}}
                    -->

                    <!--
                    <p>Número de terapias:          {{usuario.numero_terapias}}</p>
                    <p>Terapias realizadas:         {{usuario.terapias_realizadas}}</p>
                    <p>Terapias pendientes:         {{usuario.terapias_pendientes}}</p>
                    -->
                    
                

                    
{% endblock %}